{% load static %}

<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/responsive/base_responsive.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="navbar-container">
    <div class="navbar-y">
        <a class='button-profile' href="/">
            <img src="{% static 'images/profile.png' %}">
        </a>
        <div class="search-container">
            <button class='button-search' onclick="openPopup()">
                <img src="{% static 'images/search.png' %}">
            </button>
            <div class="search-form-container" id="myPopup">
                <form method="get" autocomplete="off" action="{% url 'search' %}">
                    {% csrf_token %}
                    {{ form_search }}
                    <button class='search-button' type="submit">
                        <img src="{% static 'images/search.png' %}">
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div id="fixedDiv" class="navbar-x">
        <p class="site-title">{% block title %}{% endblock %}</p>
        <a class='button-profile-x' href="/">
            <img src="{% static 'images/profile.png' %}">
        </a>
         <div class="search-container-x">
            <form method="get" autocomplete="off" action="{% url 'search' %}">
                {% csrf_token %}
                {{ form_search }}
                <button class='search-button' type="submit">
                    <img src="{% static 'images/search.png' %}">
                </button>
            </form>
        </div>
    </div>
</div>

<div class="body">
    {% block content %}
{% endblock %}
</div>








<script>
    let is_open = false
    function openPopup() {
        var popup = document.getElementById('myPopup');
      if (is_open == false) {
         popup.classList.add('show');
         is_open = true;
      } else {
         popup.classList.remove('show');
         is_open = false;
      }
    }
</script>
